body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #007acc;
}

.custom-bullet {
    list-style-type: none;
    padding-left: 20px;
}

.custom-bullet li:before {
    content: "*"; /* You can customize this to any symbol or text you want */
    color: #007acc; /* Customize the color */
    font-size: 26px; /* Customize the font size */
    margin-right: 5px; /* Adjust spacing between bullet and text */
}


/* Customize styling further as needed */
